# PostgreSQL
POSTGRES_USER=grid_admin
POSTGRES_PASSWORD=grid_password
POSTGRES_DB=grid_intelligence
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Hugging Face
HF_TOKEN=your_hf_token_here

# dbt
DBT_PROFILES_DIR=./dbt

# Streamlit
STREAMLIT_SERVER_PORT=8501

# Dagster
DAGSTER_HOME=/app/dagster_home